<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js" integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/base16/dracula.min.css" integrity="sha512-zKpFlhUX8c+WC6H/XTJavnEpWFt2zH9BU9vu0Hry5Y+SEgG21pRMFcecS7DgDXIegXBQ3uK9puwWPP3h6WSR9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
</head>
<body>
    <%- include('_header.ejs') %>
    <div class="container">
        <div class="lineNo">
            <% for(var i=0;i<lineNo;i++){ %>
                <div><%=i+1%></div>
            <% } %>
        </div>
        <!-- This is the text -->
        <!-- <h1>This is the text</h1> -->
        <pre><code id="code-main" class="<%=locals.language?`language-${locals.language}`: "" %>"><%=code %></code></pre>
    </div>
</body>
</html>